* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html {
  font-family: "Tektur", sans-serif;
  background-color: #00000a;
  scroll-behavior: smooth;
}
body {
  /* max-width: 1920px; */
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 100%;
}
body::after {
  content: "";
  position: absolute;
  top: -8%;
  left: 0;
  width: 100%;
  background: url("./src/hero-back.svg") 7vw center / cover no-repeat;
  z-index: -1;
  height: -webkit-fill-available;
  height: 1800px;
}
header,
.hero,
.container-main {
  padding: 0 235px;
}
select {
  color: black;
  font-family: "Tektur", sans-serif;
  width: 50px;
}
select#quantity option {
    color: black;
  }
.form-group-value {
  display: flex;
  gap: 24px;
  margin-bottom: 15px;
}
a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.1em;
}
ul {
  list-style-type: none;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 90px;
}
h2 {
  font-size: 1.9vw;
  margin-top: 32px;
  margin-bottom: 24px;
}
h3 {
  font-size: 1.5vw;
}
h4 {
  font-size: 1.1vw;
}
.title-category {
  font-size: 4vw;
  margin-top: 150px;
}
.swiper {
  width: 300px;
  .swiper-pagination-bullet {
    background: #808080;
  }
  .swiper-pagination-bullet-active {
    background: #f03816;
  }
}

#header {
  margin-top: 20px;
  /* border-bottom: 1px solid #b1b1b1; */
  margin-bottom: 130px;
}
.hero {
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    font-size: 22px;
  }
  h1 {
    max-width: 950px;
    margin-bottom: 32px;
  }
  .hero-d-fl {
    display: flex;
    gap: 24px;
  }
  .hero-socials {
    margin-top: 48px;
    display: flex;
    gap: 12px;
    a {
      backdrop-filter: blur(20px);
      background: rgba(255, 255, 255, 0.1);
      border-radius: 200px;
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    img {
      height: 36px;
      width: 36px;
    }
  }
}
.buttonTG-hero {
  margin-top: 48px;
  border-radius: 1000px;
  padding: 8px 5px 8px 32px;
  background: white;
  height: 55px;
  color: black;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  svg {
    width: 48px;
    height: 48px;
  }
}

.container {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  svg {
    width: 24px;
    height: 24px;
  }
}
.header-logo {
  max-width: 250px;
}
.menu__list {
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tg-logo {
  max-width: 54px;
}
.container-main {
  margin: 0 15px;
}
.image-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.image-container img {
  width: auto;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}
.item-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 150px;
}
.item {
  border: 1px solid #333;
  border-radius: 40px;
  text-align: center;
  align-items: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  img {
    /* width: 100%; */
    border-radius: 34px;
    background-color: #121212;
  }
}
.option-wrapper {
  /* border: 1px solid #b1b1b1;
  border-radius: 25px; */
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 40px;
  gap: 4px;
}
.item_option {
  color: #817e7e;
}
.price-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  border-radius: 200px;
  padding: 6px 6px 6px 12px;
  background: #1e1e1e;
  height: 68px;
  width: 100%;
  .button-37 {
    margin-left: auto;
  }
}
.buttonTG {
  background-color: initial;
  background-image: linear-gradient(156deg, #f01616 0%, #f7710b 100%);
  border-radius: 200px;
  padding: 12px 24px 12px 32px;
  display: inline-flex;
  align-items: center;
}
.button-37 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  border: 0;
  transition: box-shadow 0.2s;
  display: flex;
  align-items: center;
  border-radius: 200px;
  padding: 16px 24px;
  height: 56px;
}

.button-37:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
footer {
  margin-top: 100px;
  position: relative;
  svg {
    width: 1px;
    height: 1px;
  }
  .container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 20px;
      color: #817e7e;
      max-width: 215px;
    }
    a {
      font-size: 20px;
    }
    .time {
      margin-top: 32px;
    }
    li {
      font-size: 20px;
      margin-bottom: 32px;
    }
  }
}
/* footer::after {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url("./src/hero-back.svg") 1vw center / cover no-repeat;
    z-index: -1;
    height: 800px;
} */
[type="text"] {
  color: black;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
}
[type="tel"] {
  color: black;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
}
#address {
  color: black;
  font-family: "Tektur", sans-serif;
  font-size: 16px;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  h2,
  h3,
  h4,
  h5,
  label {
    color: white;
  }
  h2 {
    font-size: 24px;
  }
}

.modal-content {
  background-color: #00000a;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 500px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  font-family: "Tektur", sans-serif;
  height: 40px;
  padding: 0 20px;
  border-radius: 200px;
  padding: 16px 24px;
  height: 56px;
}

.filter-buttons {
  border-radius: 200px;
  background: #202020;
  max-width: 450px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 2%;
}

.filter-btn {
  padding: 14px 24px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 200px;
  color: #b9b9b9;
  font-family: "Tektur", sans-serif;
  background: #202020;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  font-weight: 600;
  height: 63px;
  font-size: 26px;
}

.filter-btn.active {
  background: white;
  color: black;
}

.item {
  transition: all 0.3s ease;
}

.item[style*="display: none"] {
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.about {
  margin-top: 25px;
  margin-bottom: 150px;
  img {
    max-width: 461px;
    width: 23vw;
    height: 100%;
  }
  h2 {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  h4 {
    color: #f03816;
    margin-top: 0;
  }
  p {
    color: #817e7e;
    font-size: 1.5vw;
  }
  .text-wrapper {
    max-width: 690px;
  }
  .about-us {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-bottom: 25px;
    align-items: center;
  }
  .steps-title {
    text-align: center;
    h2 {
      margin-top: 8px;
    }
  }
  .steps {
    h2 {
      margin: 0;
      color: #474646;
      font-weight: 400;
    }
    .step {
      max-width: 34vw;
      margin-bottom: 30px;
      border-left: 2px solid transparent;
      border-image: linear-gradient(352deg, #ffaa00 0%, #f03816 100%);
      border-image-slice: 1;
      padding-left: 1vw;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .step:nth-child(2) {
      margin-left: 35%;
    }

    .step:nth-child(3) {
      margin-left: 70%;
    }
  }
}
@media screen and (max-width: 1680.99px) {
  header,
  .hero,
  .container-main {
    padding: 0 150px;
  }
  .swiper {
    width: 300px;
  }
}

@media screen and (max-width: 1470.99px) {
  .item-row {
    grid-template-columns: repeat(3, 1fr);
  }
  .item {
    padding: 20px;
    h2 {
      font-size: 2.5vw;
    }
    h3 {
      font-size: 2vw;
    }
  }
  .swiper {
    width: 240px;
  }
  .price-wrapper {
    margin-top: auto;
    h3 {
      margin-left: 15px;
    }
  }
}
@media screen and (max-width: 1199.99px) {
  header,
  .hero,
  .container-main {
    padding: 0 50px;
  }
  .item-row {
    grid-template-columns: repeat(3, 1fr);
  }
  .swiper {
    width: 23vw;
  }
  h2 {
    font-size: 2.5vw;
  }
  h3 {
    font-size: 2.4vw;
  }
  h4 {
    font-size: 1.5vw;
  }
  .item {
    padding: 20px;
  }
  .price-wrapper {
    margin-top: auto;
    h3 {
      margin-left: 0;
    }
  }
  footer {
    .footer-logo,
    img {
      max-width: 280px;
    }
  }
}
@media screen and (max-width: 1024.99px) {
  .image-container img {
    min-width: 110%;
  }
  footer {
    .container-main {
      li {
        margin-bottom: 15px;
      }
    }
  }
  .container-main {
    margin: 0px 10px;
  }
  .title-category {
    font-size: 6vw;
  }
  .hero {
    h1 {
      font-size: 67px;
    }
  }
  header,
  .hero,
  .container-main {
    padding: 0;
  }
  body::after {
    top: -4%;
    height: 1500px;
    background: url("./src/hero-back.svg") 28% center / cover no-repeat;
  }
  .item-row {
    margin-bottom: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
  .swiper {
    width: 41vw;
  }
  .item {
    h2 {
      font-size: 4vw;
    }
    h3 {
      font-size: 3.5vw;
    }
    h4 {
      font-size: 2vw;
    }
  }
  .about {
    margin-bottom: 100px;
    .about-us {
      flex-direction: column;
      gap: 36px;
    }
    img {
      width: 100%;
    }
    .text-wrapper {
      h2 {
        font-size: 3vw;
      }
      h4 {
        font-size: 1.5vw;
      }
      p {
        font-size: 2vw;
      }
    }
  }
  .price-wrapper {
    margin-top: auto;
    h3 {
      margin-left: 15px;
    }
  }
}
@media screen and (max-width: 767.99px) {
  .buttonTG {
    padding: 8px 12px 8px 14px;
  }
  .image-container img {
    min-width: 145%;
  }
  footer {
    margin-bottom: 25px;
    .footer-logo,
    img {
      max-width: 150px;
    }
    .container-main {
      li {
        margin-bottom: 8px;
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
      a {
        font-size: 14px;
      }
    }
  }
  .menu {
    /* display: none; */
  }
  .menu__list {
    gap: 16px;
  }
  .container {
    gap: 10px;
  }
  .hero {
    h1 {
      font-size: 55px;
    }
    p {
      font-size: 18px;
    }
  }
  .about {
    .steps-title {
      h2,
      h3 {
        font-size: 4.7vw;
      }
      h4 {
        font-size: 2vw;
      }
    }
    .steps {
      .step {
        h2,
        h3 {
          font-size: 4vw;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  .about {
    .text-wrapper {
      max-width: 100%;
      h4 {
        font-size: 3vw;
      }
      h2 {
        font-size: 4.7vw;
      }
      p {
        font-size: 18px;
      }
    }
    img {
      margin-left: 0;
      width: 100%;
    }
    .steps {
      .step {
        max-width: 100%;
      }
      .step:nth-child(2) {
        margin-left: 0;
      }
      .step:nth-child(3) {
        margin-left: 0;
      }
    }
  }
  .swiper {
    width: 38vw;
  }
  .item {
    h2 {
      margin: 16px 0;
    }
    .option-wrapper {
      margin-bottom: 16px;
    }
  }
  .price-wrapper {
    height: 58px;
    margin-top: auto;
    h3 {
      margin-left: 0;
      font-size: 3vw;
    }
  }
  .button-37,
  button {
    padding: 4px 10px;
    height: 45px;
  }
  .about {
    p {
      font-size: 2.2vw;
    }
    .about-us {
      gap: 10px;
      align-items: center;
    }
  }
  body::after {
    top: -2%;
    height: 900px;
    background: url("./src/hero-back.svg") 24% center / cover no-repeat;
  }
}
@media screen and (max-width: 575.99px) {
  .container {
    gap: 32px;
  }
  .image-container img {
    min-width: 160%;
  }
  .title-category {
    margin-top: 70px;
    font-size: 7vw;
  }
  body::after {
    top: -4%;
    height: 900px;
    background: url("./src/hero-back.svg") 25% center / cover no-repeat;
  }
  .buttonTG {
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    svg {
      height: 22px;
      max-width: 28px;
    }
  }
  h4 {
    font-size: 2.3vw;
  }
  .item {
    padding: 10px;
  }
  .item-row {
    gap: 8px;
  }
  .price-wrapper {
    gap: 5px;
    margin-top: auto;
    h3 {
      font-size: 3.2vw;
    }
  }
  .swiper {
    width: 42vw;
  }
  .filter-buttons {
    max-width: 325px;
    height: 52px;
    .filter-btn {
      font-size: 18px;
      padding: 14px 16px;
      height: 40px;
    }
  }
  .button-37,
  button {
    padding: 4px 8px;
    height: 38px;
  }
  .modal {
    label {
      font-size: 16px;
    }
    h2 {
      font-size: 18px;
    }
  }
  .about {
    .about-us {
      justify-content: space-between;
      gap: 45px;
    }
    .text-wrapper {
      max-width: 100%;
      h2 {
        font-size: 4vw;
      }
      h4 {
        font-size: 2.7vw;
      }
      p {
        font-size: 3vw;
        margin-top: 0;
      }
    }
  }
}
@media screen and (max-width: 481.99px) {
  .container {
    padding: 0 5px;
    gap: 16px;
  }
  a.menu__link {
    font-size: 12px;
  }
  .buttonTG {
    padding: 2px 4px 2px 8px;
    font-size: 10px;
  }
  footer {
    .container-main {
      gap: 25px;
      flex-wrap: wrap;
      .footer-menu-row,
      .footer-contacts-row {
        flex: 1 1 100%;
      }
    }
  }
  .filter-buttons {
    max-width: 275px;
    height: 45px;
    margin-bottom: 4%;
    .filter-btn {
      font-size: 16px;
      padding: 8px 12px;
      height: 32px;
    }
  }
  .title-category {
    font-size: 7vw;
  }
  .item {
    border-radius: 22px;
    img {
      border-radius: 25px;
    }
    h4 {
      font-size: 2.8vw;
    }
  }
  .swiper {
    width: 37vw;
  }
  .price-wrapper {
    height: 31px;
    gap: 0;
    margin-top: auto;
    h3 {
      font-size: 3vw;
    }
    .button-37,
    button {
      padding: 0 5px;
      height: 25px;
      font-size: 10px;
    }
  }
  .hero {
    margin-bottom: 70px;
    h1 {
      font-size: 34px;
    }
    p {
      font-size: 16px;
    }
    .buttonTG-hero {
      padding: 5px 5px 5px 14px;
      height: 39px;
      gap: 7px;
      font-size: 14px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
    .hero-socials {
      a {
        height: 40px;
        width: 40px;
      }
      img {
        height: 26px;
      }
    }
  }
  .about,
  .step {
    h4 {
      font-size: 3vw;
    }
    h2,
    h3 {
      font-size: 4.5vw;
    }
    p {
      font-size: 3.5vw;
    }
  }
  .about {
    .steps-title {
      h4 {
        font-size: 2.5vw;
      }
    }
  }
  body::after {
    top: -4%;
    background: url("./src/hero-back.svg") 47% center / cover no-repeat;
    height: 900px;
  }
  .modal {
    .modal-content {
      width: 80%;
    }
    label {
      font-size: 14px;
    }
    h2 {
      font-size: 18px;
      margin: 0;
      margin-bottom: 15px;
    }
  }
}
@media screen and (max-width: 481.99px) {
  .mobile-container {
    display: none;
  }
}
